body {
  flex-direction: column;
  display: flex;
  height: 100vh;
  background-color: #182353; 
  color: #eff6ff;
}


#container{
    border-radius: 10px;
    border: none;
    padding: 5px;
    display:block;
    width: 98%;
    max-width: 900px;
    max-height: auto;
    margin-right: auto;
    margin-left: auto;
    font-family: Arial;
    font-weight: bold;
    background-color: #1f3789; 
    border: 2px solid #1f4ad6; 
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;    
}

#header{
    background-color: #1f4ad6; 
    color: #eff6ff; 
    border-radius: 10px;
    border: none;
    text-align: center;
    font-size: 1em;
}

#scoreboard{
    border-radius: 10px;
    border: none;
    background-color: #1f3789;
    min-height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#playerHud{
    justify-content: center;
    text-align: center;
    aspect-ratio: 1 / 1;
    min-width: 150px;
    max-width: 250px;
    flex: 1;
    border-radius: 10px;
    border: 4px solid #1f4ad6;
    background-color: #182353;
    margin: 1vh;
}

#computerHud{
    justify-content: center;
    text-align: center;
    aspect-ratio: 1 / 1;
    min-width: 150px;
    max-width: 250px;
    flex: 1;
    border-radius: 10px;
    border: 4px solid #1f4ad6;
    background-color: #182353;
    margin: 1vh;
}

#buttonsContainer{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    height: 3em;
    margin-top: 10vh;
    margin-bottom: 10vh;
    
}

#buttonsContainer button{
    background-color: #1f4ad6; 
    border: 2px solid #eff6ff; 
    color: #eff6ff; 
    border-radius: 10px;
    border: 2px solid white;
    font-size: 3em;
    padding: 10px 15px;
    cursor: pointer;
    margin: 0.5em;
    transition: 0.3s ease;
}

button:hover{
    transform: scale(1.10);
}


#buttonsContainer:hover> :not(:hover){
    filter: blur(5px);
    opacity: 0.5;
}

#playerHud div {
    min-height: 100px;
    min-width: 100px;
    font-size: 4em; 
    display: flex;
    align-items: center;
    justify-content: center;
}
#computerHud div {
    min-height: 100px;
    min-width: 100px;
    font-size: 4em; 
    display: flex;
    align-items: center;
    justify-content: center;
}

#playerLastChoice, #computerLastChoice {
    font-family: "Segoe UI Emoji", "Apple Color Emoji", "Noto Color Emoji", sans-serif;
}

#buttonsContainer:hover > :not(:hover) {
    filter: brightness(0.6);
    opacity: 0.5;
}

#playerLastChoice, #computerLastChoice {
    color: #dbe9fe; 
}

footer {    
    margin: 2vh;
    color: white;
    text-align: center;
    font-weight: bold;
  }
a{
    color:white;
}
a:visited { 
    color: #e5e7eb;
}  